<li>
	{{item_name}}

	<button class="change-isComplete" data-id="{{id}}" data-isComplete="{{isComplete}}">
		{{#if isComplete}}add back to list{{else}}mark complete{{/if}}
	</button>

	<button class="delete-item" data-id="{{this.id}}">
		delete from list
	</button>
</li>
